---
export interface Props {
  title: string;
  description: string;
  ogType?: string;
}
import { partytownSnippet } from "@builder.io/partytown/integration";
const partytownSnippetHtml = partytownSnippet({
  debug: true,
});
const { title, description, ogType } = Astro.props;
const socialUrl = Astro.site.href + "assets/social.png";
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=1" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=1" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=1" />
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=1" color="#5bbad5" />
<link rel="shortcut icon" href="/favicon.ico?v=1" />
<meta name="msapplication-TileColor" content="#b91d47" />
<link rel="sitemap" href="/sitemap.xml" />
<link rel="manifest" href="/manifest.json" />
<meta name="theme-color" content="#202122" />
<meta name="monetization" content="$ilp.uphold.com/9JN3mhreZDQD" />

<!-- Primary Meta Tags -->

<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<link rel="canonical" href={Astro.request.canonicalURL} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content={ogType ?? "website"} />
<meta property="og:url" content={Astro.request.canonicalURL} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={socialUrl} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.request.canonicalURL} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={socialUrl} />

<!-- Partytown -->
<script set:html={partytownSnippetHtml}></script>
<script
  type="text/partytown"
  defer
  src="https://proxy.animafps.xyz/script.min.js"
  data-cf-beacon={'{"token": "1bf51a3739c44c29990bc17a2c861d4a}'}></script>

<!-- This is intentionally inlined to avoid FOUC -->
<script>
  const root = document.documentElement;
  const theme = localStorage.getItem("theme");
  if (
    theme === "dark" ||
    (!theme && window.matchMedia("(prefers-color-scheme: dark)").matches)
  ) {
    root.classList.add("theme-dark");
  } else {
    root.classList.remove("theme-dark");
  }
</script>
